include LICENSE
include src/aeolus/const/store/*.json
recursive-include docs *
recursive-include tests *
include tests/data/*
prune docs/html
prune docs/doctrees
include versioneer.py
global-exclude *.py[cod]
