global-exclude *.py[cod]
global-exclude __pycache__
prune docs/_build
include LICENSE
include src/aeolus/const/store/*.json
recursive-include docs *
recursive-include tests *
include versioneer.py
include src/aeolus/_version.py
